<h2 mat-dialog-title>Account Level</h2>
<mat-dialog-content>
  <div  class="pmb-8 pmt-20">
    <div class="pmb-12"><button class="mat-green-button" mat-raised-button [mat-dialog-close]="'3'"> Level 3 (User)</button></div>
    <div class="pmb-12"><button class="mat-orange-button" mat-raised-button [mat-dialog-close]="'4'"> Level 4 (Creator)</button></div>
    <div class="pmb-12"><button color="warn" mat-raised-button [mat-dialog-close]="'5'"> Level 5 (Admin)</button></div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
