<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>

    <div>

        <div class="instructions">A valid password is 6 or more characters long.</div>

        <div class="admin-actions prose">
            <div>
                <a (click)="clickRandomize()" class="pmt-20 cursor-pointer">
                    generate random password
                </a>
            </div>
            <div>
                <a (click)="clickClipboard()" class="pmt-20 cursor-pointer">
                    copy to clipboard
                </a>
            </div>

        </div>

        <form name="registerForm" [formGroup]="registerForm" novalidate>

            <div class="pmt-20 ">

                <mat-form-field class="w-full">
                    <input matInput placeholder="password" formControlName="password">
                    <mat-error *ngIf="registerFormErrors.password.required">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls['password'].errors?.remote">
                        {{ registerForm.controls['password'].errors.remote }}
                    </mat-error>
                </mat-form-field>

                <mat-error *ngIf="registerFormErrors.form.remote" align="center">
                    {{ registerFormErrors.form.remote }}
                </mat-error>


            </div>

        </form>

    </div>


    <p></p>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>

    <button mat-button color="primary" (click)="submitForm()" [disabled]="registerForm.invalid">Submit</button>
</mat-dialog-actions>
