<div class="prose" xmlns="http://www.w3.org/1999/html">

    <p>
        This is a showcase of flex player features.
        Currently requires clients that support redirect. Most do, but that will be phased out.
    </p>

    <p>
        Launch/connect an anonymous flex stream.

        /username
        or for a specific channel
        /username/channel_id

        In the backend this creates an anonymous client with it's own listener history.
        The playlist is based off the provided username so will use their favorites.
        This also creates an association to that username. Such that an authenticated user can maninpulate the
        experience.

        /username/chan would connect to a channel specific stream and can just be stopped or skipped
        /username would connect to the default stream which can change channels.

    </p>
    <a target="_blank" [href]="environment.FLEX + account.username">Start flex stream </a><br>
    <a target="_blank" [href]="environment.FLEX + account.username + '/0'">Start flex stream (main mix)</a><br>
    <a target="_blank" [href]="environment.FLEX + account.username + '/42'">Start flex stream (serenity)</a><br>
    <a target="_blank" [href]="environment.FLEX + account.username + '/99'">Start flex stream (favorites)</a>


    <p> Connection pattern is {{ environment.FLEX }} username / channel number</p>

    <hr>

    <p>
        HLS Player ( allows inline metadata, but very slow start on RocketStream )
    </p>

    <div>
        <button [disabled]="startHLSDisabled" (click)="clickStartPlayerHls()" class="m-2" mat-raised-button
                color="primary">start HLS player
        </button>
    </div>
    <div>{{ hls_metadata }}</div>
    <div>
        <audio preload="true" id="player_hls" controls crossorigin></audio>
    </div>

    <hr>

    <p>
        Stream Player
    </p>

    <div>
        <button (click)="clickStartPlayerStream()" class="m-2" mat-raised-button color="primary">start Stream player
        </button>
    </div>

    <div>
        <audio preload="true" id="player_stream" controls crossorigin></audio>
    </div>

    <hr>

    <p>
        Client State
    </p>

    <div>
        <button (click)="clickRefreshClientState()" class="m-2" mat-raised-button color="primary">REFRESH</button>
    </div>
    <ng-container *ngIf="clientState">
        <div *ngFor="let branch of clientState.arrBranch">

            <h4>{{ branch.branchName }}</h4>
            <ul class="list-none">
                <li>flex stream type: {{ branch.branchType }}</li>
                <li>channel: {{ branch.command.currentTrack.channel.title }}</li>
                <li>song: {{ branch.command.currentTrack.title }}</li>
                <li>album: {{ branch.command.currentTrack.album }}</li>
                <li>artist: {{ branch.command.currentTrack.artist }}</li>
            </ul>

            <div class="ml-8">
                <button (click)="clickSkipSong(branch)" class="m-2" mat-raised-button color="primary">SKIP</button>

                <ng-container *ngIf="branch.branchType == 'default'">
                <mat-form-field>
                    <mat-label>change channel</mat-label>
                    <mat-select (valueChange)="clickChangeChannel($event, branch)"
                               >
                        <mat-option value="0">Main Mix</mat-option>
                        <mat-option value="1">Mellow Mix</mat-option>
                        <mat-option value="2">Rock Mix</mat-option>
                        <mat-option value="3">Global Mix</mat-option>
                        <mat-option value="42">Serenity</mat-option>
                        <mat-option value="2050">Radio 2050</mat-option>
                        <mat-option value="99">My Mix</mat-option>
                    </mat-select>
                </mat-form-field>
                </ng-container>

                <h4>Listeners</h4>
                <ul class="list-none">
                    <ng-container *ngFor="let leaf of branch.arrLeaf ">
                        <li>{{ leaf.leafAccount.username }}
                            <button (click)="clickStopLeaf(leaf)" class="m-2" mat-raised-button color="primary">STOP
                            </button>
                        </li>
                    </ng-container>
                </ul>

            </div>
        </div>
    </ng-container>

</div>
