/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.mat-mdc-raised-button.mat-green-button {
    background-color: #3ccd3c !important;
    color: black !important;
}

.mat-mdc-raised-button.mat-orange-button {
    background-color: #feb246 !important;
    color: black !important;
}


.overlay-container {
    display: grid;

    &.center{
        align-items: center;
        justify-content: center;
    }

    .centered-contain{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .centered-auto{
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    .centered-cover{
        background-size: cover;
        background-position: center;
    }


}
.overlay-container > * {
    grid-area: 1 / 1 / 2 / 2;
}
