@container container-music-brainz-explorer-list (width > 0) {

    .example-viewport {
        height: 100cqh;
        width: 100%;
        overflow: auto;
        background-color: #262626;
    }

    .example-item {
        height: 50px;
    }

}

