<div>

    <button class="pmb-20" mat-raised-button color="primary" (click)="clickRunTests()" [disabled]="busy">Start Test</button>
    <h4>Promos</h4>
        <div>
            <div *ngFor="let channel of channelTestP | keyvalue : valueOrder" class="mt-8">
                Channel-{{channel.value.chan}}

                <div *ngFor="let bitrate  of channel.value.bitrates | keyvalue : valueOrder" class="ml-8">
                    bitrate: {{ bitrate.value.label }}
                    <span class="pml-8">( files: {{bitrate.value.fileCount}} )</span>
                    <span class="pml-12"> tested ... {{ bitrate.value.tested }} </span>
                    <span class="pml-12"> errors ... {{ bitrate.value.errorCount }} </span>
                </div>
            </div>
        </div>


        <div class="mt-8">promo 404's
            <div *ngFor="let channel of channelTestP | keyvalue : valueOrder">
                <div *ngFor="let bitrate  of channel.value.bitrates | keyvalue : valueOrder">
                    <div *ngFor="let error of bitrate.value.errors"  class="pml-12">
                        <a target="_blank" href="{{error}}">  {{ error }} </a>
                    </div>
                </div>
            </div>
        </div>

    <h4 class="mt-8">Voice</h4>

    <div>
        <div *ngFor="let channel of channelTestV | keyvalue : valueOrder" class="mt-8">
            Channel-{{channel.value.chan}}

            <div *ngFor="let bitrate  of channel.value.bitrates | keyvalue : valueOrder" class="ml-8">
                bitrate: {{ bitrate.value.label }}
                <span class="pml-8">( files: {{bitrate.value.fileCount}} )</span>
                <span class="pml-12"> tested ... {{ bitrate.value.tested }} </span>
                <span class="pml-12"> errors ... {{ bitrate.value.errorCount }} </span>
            </div>
        </div>
    </div>


    <div class="mt-8">voice 404's
        <div *ngFor="let channel of channelTestV | keyvalue : valueOrder">
            <div *ngFor="let bitrate  of channel.value.bitrates | keyvalue : valueOrder">
                <div *ngFor="let error of bitrate.value.errors"  class="pml-12">
                    <a target="_blank" href="{{error}}">  {{ error }} </a>
                </div>
            </div>
        </div>
    </div>

</div>

