<div class="flex flex-col max-h-full h-full">
    <div class="flex-shrink">
        <hr>
        breadtrail
        <hr>
    </div>

    <div class="flex-grow container-music-brainz-explorer-list">
        <div class="overlay-container">
            <app-widget-music-brainz-list-artist *ngIf="brainzExplorerBreadtrail.list_artist" [brainzExplorerBreadtrailNode]="brainzExplorerBreadtrail.list_artist"></app-widget-music-brainz-list-artist>
            <app-widget-music-brainz-list-release-group *ngIf="brainzExplorerBreadtrail.list_release_group" [brainzExplorerBreadtrailNode]="brainzExplorerBreadtrail.list_release_group"></app-widget-music-brainz-list-release-group>

        </div>


    </div>
</div>
